/* Page background color */
body{
    background: rgb(2, 40, 76);    
}

/* Form container styling */
#form{
   background-color: rgba(160, 211, 238, 0.916); 
   padding:10px;
   border-radius: 8px;
   max-width: 500px;
}

/* Form heading style */
h2{
    color: black;
}

/* lable text style */
#label{
    font-weight: bold ;
    color: navy;
}

/* input text style */
.input{
    font-weight: bold;
}

/* Error message text style */
.inputcontainer .error{
    color: rgb(242,18,18);
    font-size: 0.875rem;
}

/* Input border color when validation is successful */
.inputcontainer.success  input{
    border-color:#0cc477 ;
}

/* Input border color when validation fails */
.inputcontainer.error  input{
    border-color:rgb(206,67,67) ;
}
